

<h1>Todo Items</h1>

<h2>Add New Todo</h2>
<mat-card>
    <mat-card-content>
        <form [formGroup]="todoForm" (ngSubmit)="addTodo()" novalidate>

            <div class="form-group">
                <label class="center-block">
                    Title:
                    <input class="form-control" formControlName="name">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    Description:
                    <input class="form-control" formControlName="description"
                           placeholder="Take a note...">
                </label>
            </div>
            <div class="checkbox">
                <label class="center-block">
                    <input type="checkbox" formControlName="isComplete">Completed
                </label>
            </div>

            <div style="margin-bottom: 1em">
                <button type="submit"
                        mat-raised-button color="primary">
                    DONE
                </button>&nbsp;
            </div>
        </form>
    </mat-card-content>
   
</mat-card>


    <p>This component demonstrates fetching data from the server.</p>

    <p *ngIf="!todos"><em>Loading...</em></p>

    <div *ngIf="todos">
        <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let todo of todos"
                           [style.background]="lightblue">
                <todo-detail [todo]="todo"></todo-detail>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


